header {
background-color: #1a1a1a;	
text-align: center;	
font-family: Trebuchet MS , Helvetica, sans-serif;
padding: 20px;
border-bottom: 3px solid #47ffb2; 
}
h1{
	color: #f2f2f2;
}
h2,h3{
	color: #1a1a1a;
	font-family: Trebuchet MS , Helvetica, sans-serif;
}
p{
	color: #1a1a1a;
	font-family: Trebuchet MS , Helvetica, sans-serif;
	
}



body{
	
background-color: #f2f2f2;
 margin: 0;
  padding: 0;
	
	
	
	
}
ul{
list-style-type: disc;
padding-left: 0;
}
ul,ol,li{
font-family: Trebuchet MS , Helvetica, sans-serif;
color:#1a1a1a 
}
li{
text-align: center;	
list-style-position: inside;	
}
.lista li {
margin-bottom: 3px;
color:#f2f2f2;
text-align: left;
padding-bottom: 24px; 
}

.lista{
width: auto;
max-width:800px;
margin: 50px auto;
padding: 20px;
background-color:#1a1a1a; 
border-radius: 30px;
border: 2px solid #47ffb2;
}
.lista ul{
margin: 0;
padding-left: 20px;
}
hr{
	border: 1px solid #1a1a1a;
	margin: 10px auto;
	width: 80%;
}
.lewo{
	text-align: left;
	margin-top: 0;
	justify-content: flex-start;
	align-items: flex-start;
	font-size: 14px;
	color: #47ffb2;
	
}
